<div class="container">
  <div class="row">
    <div class="col-12">
      <app-list></app-list>
    </div>
  </div>

  <div
    @itemInputButton
    class="floating-button">
    <button
      [@itemInputButtonIcon]="isItemInputVisible ? 'open' : 'closed'"
      (click)="toggleItemInput()"
      [class.open]="isItemInputVisible"
      class="btn btn-primary btn-fab">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>

  <app-item-input
    (closed)="isItemInputVisible = false"
    [isVisible]="isItemInputVisible"></app-item-input>
</div>
