@import 'mixins';
@import 'variables';

.list-group-item {
  transition: 100ms background-color;
  cursor: pointer;

  &.selected {
    background-color: rgba(theme-color('primary'), 0.2);
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  overflow-y: hidden;
}

.collapsible {
  margin-top: 1rem;
}
