<div
  *ngIf="isVisible"
  class="modal-box">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new todo</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="todoGroup">
            <div class="inputs">
              <div class="form-group">
              <textarea
                class="form-control todo-text"
                cols="30"
                formControlName="text"
                id="todo-text"
                rows="5"></textarea>
              </div>
              <div class="form-group with-icon">
                <label for="todo-interval"><i class="mdi mdi-timer-sand mr-2"></i>Interval</label>
                <input
                  class="form-control"
                  formControlName="intervals"
                  id="todo-interval"
                  type="number" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            (click)="addTodo()"
            class="btn btn-primary">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay"></div>
</div>
