@import 'imports';

body {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  // For animations
  overflow-x: hidden;
}
